.c-social-icon {
    width: 100vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    a {
        color: white;
        display: block;
        border-radius: 4px;
        text-align: center;
        font-size: 1.1rem;
        
    }

    &__twitter {
        background-color: #1B95E0;
        padding: 0.2rem 0.7rem 0.2rem 0.7rem;
        margin-right: 0.7rem;
        
        &:hover {
            background-color: #0c7abf;
        }

        .fab {
            padding-right: 0.3rem;
        }
    }

    &__thumbs, &__share {
        background-color: #1877F2;
        padding: 0.2rem 0.7rem 0.2rem 0.7rem;
        font-weight: 600;
    }

    &__thumbs {
        margin-right: 0.7rem;

        .fas {
            padding-right: 0.3rem;
        }
    }
}