.c-triangle {
    position: relative;
    top: 45px;
    width: 0;
    height: 0;
    // left: 45%;
    left: 0;
    right: 0;
    margin: auto;
    border-top: 15px solid #EBB94D;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;

    @include breakpoint( tablet ) {
        top: 70px;
        border-top: 25px solid #EBB94D;
        border-right: 25px solid transparent;
        border-left: 25px solid transparent;
    
    }

    @include breakpoint( pc ) {
        top: 75px;
    
    }
}