.p-container-main-visual {
    position: absolute;
    top: 2rem;
    width: 100vw;
    margin: 0 auto;
    text-align: center;

    @include breakpoint( tablet ) {
        top: 10rem;
    
    }
}

.p-container-introduction {
    position: absolute;
    top: 3rem;
    z-index: 10;
}

.p-container-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.p-container-steps {
    padding: 3rem 0 0 0;
    
    @include breakpoint( pc ) {
        display: flex;
        justify-content: center;
        padding: 2rem 0 0 0;
    }
}

.p-container-merits-images {
    margin-top: 3rem;

    @include breakpoint( pc ) {
        display: flex;
        justify-content: center;

    
    }
}

.p-container-member {
    
    @include breakpoint( pc ) {
        display: flex;
        justify-content: center;
        // padding: 0 3.5rem 0;
    }
}

.p-container-contents {

    @include breakpoint( pc ) {
        display: flex;
        justify-content: center;
    
    }
}

.p-container-gift {
    border: 2px solid white;
    position: relative;
    margin: 8rem 1.5rem 0;
    padding: 3.2rem 3rem 4.3rem 6.5rem;

    @include breakpoint( tablet ) {
        margin: 12rem 4rem 0;
        padding: 2.3rem 0 3rem;
    }

    @include breakpoint( pc ) {
        display: flex;
        justify-content: center;
    }

    &__head {
        position: absolute;
        top: -50px;
        left: 0;
        right: 0;
        margin: 0 auto;
        font-size: 1.8rem;
        line-height: 2.9rem;
        font-weight: 600;
        text-align: center;
        width: 240px;
        background-color: #F7C23C;

        @include breakpoint( tablet ) {
            font-size: 2.4rem;
            line-height: 3.8rem;
            width: 370px;
        }
    }
}
