.p-container-main-visual {
    position: absolute;
    top: 2rem;
    width: 100vw;
    margin: 0 auto;
    text-align: center;

    @include breakpoint( tablet ) {
        top: 10rem;
    
    }
}

.p-container-introduction {
    position: absolute;
    top: 3rem;
    z-index: 10;
}

.p-container-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.p-container-steps {
    padding: 3rem 0 0 0;
    
    @include breakpoint( pc ) {
        display: flex;
        justify-content: center;
        padding: 2rem 0 0 0;
    }
}

.p-container-merits-images {
    margin-top: 3rem;

    @include breakpoint( pc ) {
        display: flex;
        justify-content: center;

    
    }
}

.p-container-member {
    
    @include breakpoint( pc ) {
        display: flex;
        justify-content: center;
        // padding: 0 3.5rem 0;
    }
}