.l-footer {
    background-color: #ECECEC;

    @include breakpoint( tablet ) {
        padding: 2rem 0 2rem;    
    
    }

    &__text {
        color: #333;
        text-align: center;
        line-height: 1.6rem;
        font-weight: 300;
        padding: 2rem 0 0.5rem;

        a {
            color: #337AB7;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}